@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root{
    --corPrincipal: #005029;
    --bordaSelecionado: #FF78A1;
    --fonte:'Anton'
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    width: 100vw;
    background-color: var(--corPrincipal);
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: var(--corPrincipal);
    height: 80px;   
    box-shadow: inset 0px 2px 10px 1px;     
    margin-bottom: 0px;
}

main{
    display: flex;
    width: 100vw;
    height: calc(100vh - 80px);
}

#lista_link_fontes{
    
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(75, 72, 72);
    list-style-type: none;
    padding: 5px;
    border-radius: 5px;
   
    
    
}

#fontes{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    top: 3px;
    border-radius: 5px;
    
}

ul li a{
    color: white;
    text-decoration: none;
}

#containerCaramujoNav{
    height: 70px;
    width: 70px;
    padding: 5px;
    border: 1.5px solid black;
    border-radius: 35px;
    background-color: #5f502b;
    margin-right: 5px;

}

#caramujoNav{
    height: auto;
    width: 100%;
}

#lista_nav{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.li_nav{
  
    text-decoration: none;
    font-family:var(--fonte);
    font-size: 12px;
    color: white;
    text-align: center;
    align-content: center;

}


#selecionado{
    color: var(--corPrincipal);
    background-color: var(--bordaSelecionado);
    width: 80px;
    height: 30px;
    text-align: center;
    align-content: center;
    border-radius: 25px;
    font-family:var(--fonte);
    font-size: 15px;
}

#menu_links_fontes{
    cursor: pointer;
    display: inline-block;
    
}

#listaIntegrantes{
    list-style: none;
    color: #005029;
    font-family: var(--fonte);
    font-size: 20px;
}

#containerListaIntegrantes{
    background-color: white;
    height: 100%;
    width: 70%;
    padding: 10px;

}

#lateralNomeIntegrantes{
    background-color: #005029;
    width: 30%;
    
   
}





@media screen and (min-width:992px) {

    body{
        width: 98.5vw;
        background-color: white;
        
    }   
    nav{
        width: 98.9vw;
        height: 100px;
    }

    #containerCaramujoNav{
        height: 90px;
        width: 90px;
        border-radius: 45px;
    }

    .li_nav{
        font-size: 20px;     
    
    }
    
    main{
        margin: auto;
        width: 80%;
        box-shadow: -1px 6px 20px 1px black;
        display: flex;

    }
    
    #selecionado{
        width: 150px;
        height: 50px;
        border-radius: 30px;
        font-size: 28px;
    }

    #lista_nav{
        gap: 60px;
    }

    #lista_link_fontes{
        top: 30px;
    }
}