@charset "UTF-8";

@media screen and (min-width: 768px){
    
    :root{
        --cor01: #49a09d;
        --cor02: #5f2c82;
    }
    body{
        background-image: linear-gradient(to top, var(--cor01), var(--cor02))
    }
    #login{
        width: 740px;
        height: 400px;
    }
    #imagem{
        float: left;
        width: 28%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 68%;
    }
    
}

@media screen and (min-width: 992px){
    #login{
        width: 900px;
    }
    #imagem{
        float: right;
        width: 28%;
    }
    #formulario{
        font-size: 1.5em;
        float: left;
        width: 68%;
    }

    input[type="submit"]{
        height: 50px;
        padding: 10px;
    }

    #esqSenha{
        padding: 10px;
        
    }

}