@charset "UTF-8";

:root{
    --cor01: #49a09d;
    --cor02: #5f2c82;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    
}
body, html{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, var(--cor01), var(--cor02));
    box-sizing: border-box;
}
main{
    width: 98vw;
    height: 100vh;
    position: relative;
}
section{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    width: 230px;
    height: 530px;
    border-radius: 10px;
    overflow: hidden;
    transform: translate(-50%, -50%);
    transition-duration: 0.5s;
}
#imagem{
    display: block;
    background: #5f2c82 url(../imagens/tela-login.jpg);
    height: 200px;
    background-size: cover;
    background-position: left bottom;
}
#formulario{
    padding: 10px;
    display: block;
}

input[type=submit]{
    background-image: linear-gradient(180deg, #bce2e1, #316e6c);
    color: white;
    display: block;
    width: 100%;
    border: none;
    height: 35px;
    font-size: 1em;
    font-weight: 600;
    margin-top: 5px;
    border-radius: 5px;
}
input[type=submit]:hover{
    border: rgb(41, 38, 38) 2px solid;
    
}

#esqSenha{
    background-image: linear-gradient(180deg, #9fecea, #034947);
    display: block;
    text-decoration: none;
    font-size: 1em;
    margin-top: 5px;
    padding-top: 5px;
    color: black;
    font-weight: 600;
    text-align: center;
    height: 30px;
    border-radius: 5px;
}

#esqSenha:hover{
    border: rgb(41, 38, 38) 2px solid;
}

#esqSenha i{
    font-size: 1em;
    
}



#campo{
    background-image: linear-gradient(180deg, #a974cc, #8c4fb4 ,#5f2c82);
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;

}

#campo input{
    background-color: #e6fffe;
    height: 30px;
    border-radius: 5px;
    width: calc(100% - 50px);
    margin-left: -10px;
    transform: translateY(-4px);
    border: none;
}

#campo i{
    color: white;
    height: 35px;
    width: 35px;
    padding: 5px;

}

#campo input:focus-within{
    background-color: white;
}