@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
body, html{
    background-color: rgba(194, 189, 189, 0.979);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin: 0px;
    text-align: center;
    background-color: gray;
    display: inline-block;
    width: 100vw;
}
header{
    margin-bottom: 10px;
}

menu{
    display: none;
    background-color: gray;
}
ul{
    width: 100vw;
    display: block;
    background-color: rgb(102, 102, 102);;
    text-decoration: none;
    margin-bottom: 10px;
}
a{
    border: 1px solid white;
    padding: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}
a:hover{
    border: 1px solid rgb(95, 95, 95);
    background-color: rgb(75, 74, 74);
}
main{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-indent: 20px;
    margin: auto;
    width: 80vw;
    padding: 20px;
    text-align: justify;
}
p{
    margin-bottom: 10px;
}
#menu_hamburguer{
    text-align: center;
    width: 100vw;
    margin: 0px;
    padding: 10px;
    background-color: rgb(36, 36, 36);
    color: white;
    cursor: pointer;
}
#menu_hamburguer:hover{

}