@charset "UTF-8"


@import url(); /*Erro ao tentar importar a fonte, colocando um @import ULR em cima de outra funcionou normalmente*/

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
}
header > p{
    font-family: var(--fonte1);
}
h1{
    color: white;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
    text-align: center;
    padding-top: 50px;
}
header > p{
    color: white;
    text-align: center;
    padding-bottom: 50px;
}
section{
    font-size: 3.5vw;
    font-family: var(--fonte3);
    line-height: 2em;
    padding-bottom: 10vh;
    padding-left: 30px;
    padding-top: 10vh;
}
section > p{
    padding-bottom: 2em;
}

#img01{
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center right;
    box-shadow: inset 8px 8px 10px rgba(0, 0, 0, 0.213);

}
#img02{
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.txt_img > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.581);
    color: white;
    padding: 5px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
footer > p{
    font-size: 1em;
    font-family: var(--fonte1);
}
a{
    font-weight: bolder;
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}