@charset "UTF-8";

/*todas as midias */

/*Typical device breakpoints*/

/*
Pequenas telas: até 600px
Celuar: min 600px
Tablet: min 768px
Desktop: min 992px
Grandes Telas:min 1200px

Quando começa o limite do posterior, acaba o do anterior
*/

@media print{
    img{
        display: block;
        margin: auto;
    }
    #tablet{
        display: none;
    }
    #print{
        display: block;
    }
    #PC{
        display: none;
    }
    #TV{
        display: none;
    }
    #phone{
        display: none;
    }
    main::after{
        content: 'Versão para impressora';
    }
}

@media screen and (min-width: 768px) and (max-width:992px){ /*Pode colocar o Min-width e o max-width, porém se tiver outra configuração com o width maior, não precisa!! */
    #tablet{
        display: block;
    }
    #print{
        display: none;
    }
    #PC{
        display: none;
    }
    #TV{
        display: none;
    }
    #phone{
        display: none;
    }
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
}

@media screen and (min-width:992px) {
    #tablet{
        display: none;
    }
    #print{
        display: none;
    }
    #PC{
        display: block;
    }
    #TV{
        display: none;
    }
    #phone{
        display: none;
    }
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    
}

