@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
body, html{
    background-color: rgba(194, 189, 189, 0.979);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin: 0px;
    text-align: center;
    background-color: gray;
    display: inline-block;
    width: 100vw;
}
#cabeçalho{
    display: flex;
    margin: 0px 0px 20px 0px;
}
menu{
    display: none;
    background-color: gray;
    width: 120px;
}
ul{
    display: inline;
    background-color: rgb(102, 102, 102);;
    text-decoration: none;
}
li{
    padding: 10px;
    width: 100px;
}
a{
    text-align: center;
    text-decoration: none;
    color: white;
}
li:hover{
    background-color: rgb(75, 74, 74);
}
main{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-indent: 20px;
    margin: auto;
    width: 80vw;
    padding: 20px;
    text-align: justify;
    
}
p{
    margin-bottom: 10px;
}
#menu_hamburguer{
    margin: 0px;
    padding: 10px;
    background-color: rgb(36, 36, 36);
    color: white;
    cursor: pointer;
}
